<!-- Panel -->
<!-- Intro -->
<section class="panel spotlight medium right" id="first">
  <div class="content span-7">
    <h2 class="major">A visual summary of my final semester</h2>
    <p>I'm so excited to share some highlights of my semester with you! I am blessed to have a support system and resources that let me make the best of this semester despite the challenges of distance learning and the uncertainties of COVID-19.</p>
  </div>
  <div class="image filtered tinted" data-position="top left">
    <img src="assets/images/pic02.jpg" alt="" />
  </div>
</section>
<!-- Career -->
<section class="panel spotlight medium right" id="first">
  <div class="content span-7">
    <h2 class="major">I'm off to California next Spring!</h2>
    <p>My semester began with a huge career decision: right after moving into my dorm room, I accepted my full-time offer with Facebook (as a Software Engineer) starting next Spring! They had extended the offer to me following my internship this summer. Much of my semester saw communication with my recruiter, manager, and to-be fellow employees, understanding how to best prepare myself for my move to the Bay Area. </p>
  </div>
  <div class="image filtered tinted" data-position="top left">
    <img src="assets\images\semester\facebook-logo.jpg" alt="" />
  </div>
</section>
<!-- Classes -->
  <section class="panel">
    <div class="intro color2">
      <h2 class="major">On classes</h2>
      <p>Academically, I took on seven classes this semester to finish off my degree requirements. While they varied in intensity, seven classes was definitely a lot in terms of dividing up my mental energy and time. As the semester draws to a close, I think I can say I did a good job, and had fun taking these classes. Here are some of my favorite campus shots, some taken when I studied outside and enjoyed Atlanta's warmth!</p>   
    </div>
    <div class="gallery">
      <div class="group span-3">
        <a class="image filtered span-3" data-position="bottom"><img src="assets\images\semester\study\1.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="center"><img src="assets\images\semester\study\2.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="bottom"><img src="assets\images\semester\study\3.jpg" alt="" /></a>
      </div>
    <a class="image filtered span-1-5" data-position="bottom"><img src="assets\images\semester\study\4.jpg" alt="" /></a>
    </div>
  </section>
  <!-- Camping -->
  <section class="panel">
    <div class="intro color4">
      <p>My roommates and I inaugurated the semester with an overnight canoe trip! It was my first ever experience canoeing, camping, cooking atop a bonfire, going through an entire bottle of sunscreen, and seeing a clear night sky (I've never seen so many shooting stars). Oh, and first time capsizing a canoe, too! My favorite moment from this weekend trip is the early-morning push off into the river on our boats, the water cool and glassy, the fog settled and still on the water, and the sun just beginning to sift through. It was magical. I'm so glad I got to do this.</p>    
    </div>
    <div class="gallery">
      <div class="group span-4-5">
        <a class="image filtered span-3" data-position="top"><img src="assets\images\semester\camping\1.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="center"><img src="assets\images\semester\camping\2.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="bottom"><img src="assets\images\semester\camping\3.jpg" alt="" /></a>
        <a class="image filtered span-3" data-position="top"><img src="assets\images\semester\camping\4.jpg" alt="" /></a>
      </div>
    </div>
  </section>
  <!-- Cooking -->
  <section class="panel">
    <div class="intro color2">
      <h2 class="major">On cooking</h2>
      <p>
        Spending time in the kitchen was a great way for me to relax myself. Here are some of the dishes and meals that deserve a special mention! I have been on a self-imposed vegan diet for the past 9 months. Pictured: Taco night, cookies, pancakes, Thai green curry, crossiants (vegan! These took over a day to make), falafel lunch, mushroom pasta, and pav bhaji. </p>
    </div>
    <div class="gallery">
      <div class="group span-3">
        <a class="image filtered span-3" data-position="bottom"><img src="assets\images\semester\food\8.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="center"><img src="assets\images\semester\food\2.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="bottom"><img src="assets\images\semester\food\7.jpg" alt="" /></a>
      </div>
      <div class="group span-4-5">
        <a class="image filtered span-3" data-position="top"><img src="assets\images\semester\food\4.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="center"><img src="assets\images\semester\food\5.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="bottom"><img src="assets\images\semester\food\6.jpg" alt="" /></a>
        <a class="image filtered span-3" data-position="top"><img src="assets\images\semester\food\3.jpg" alt="" /></a>
      </div>
      <a class="image filtered span-2-5" data-position="right"><img src="assets\images\semester\food\1.jpg" alt="" /></a>
    </div>
  </section>
  <!-- Applepicking -->
  <section class="panel">
    <div class="intro color4">
      <h2 class="major">The week of apples</h2>
      <p>
        Another one of my favorite happenings this semester began with a day of apple-picking in a orchard north of Atlanta (we were very careful about social distancing and staying safe!). Pictured are the vegan desserts I spent several hours making: apple pie, apple muffins, apple-cinnamon cake, and sweet apple chutney. My roommates made several more. I could not bring myself to eat apples for a while after that. </p>
    </div>
    <div class="gallery">
      <div class="group span-3">
        <a class="image filtered span-3" data-position="bottom"><img src="assets\images\semester\applepicking\1.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="center"><img src="assets\images\semester\applepicking\2.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="bottom"><img src="assets\images\semester\applepicking\3.jpg" alt="" /></a>
      </div>
    </div>
  </section>
  <!-- Fun -->
  <section class="panel">
    <div class="intro color2">
      <h2 class="major"></h2>
      <p>
        When not studying or cooking, I found myself going on socially-distant hikes with friends, playing frisbee, and taking walks to Piedmont Park. 
      </p>    
    </div>
    <div class="gallery">
      <div class="group span-3">
        <a class="image filtered span-3" data-position="bottom"><img src="assets\images\semester\fun\1.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="center"><img src="assets\images\semester\fun\2.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="bottom"><img src="assets\images\semester\fun\3.jpg" alt="" /></a>
      </div>
      <div class="group span-3">
        <a class="image filtered span-3" data-position="bottom"><img src="assets\images\semester\fun\4.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="center"><img src="assets\images\semester\fun\5.jpg" alt="" /></a>
        <a class="image filtered span-1-5" data-position="bottom"><img src="assets\images\semester\fun\6.jpg" alt="" /></a>
      </div>
    </div>
  </section>
    <!-- Halloween -->
    <section class="panel">
      <div class="intro color4">
        <h2 class="major">Halloween</h2>
        <p> Here are some fun shots from Halloween! My four roommates and I dressed up as pirates and played a murder mystery game amongst ourselves. Together, we carved my first-ever jack-o-lantern as well :) Lots of firsts this semester! 
          </p>
      </div>
      <div class="gallery">
        <div class="group span-3">
          <a class="image filtered span-3" data-position="bottom"><img src="assets\images\semester\halloween\1.jpg" alt="" /></a>
          <a class="image filtered span-1-5" data-position="center"><img src="assets/images/pic02.jpg" alt="" /></a>
          <a class="image filtered span-1-5" data-position="bottom"><img src="assets\images\semester\halloween\2.jpeg" alt="" /></a>
        </div>
      </div>
    </section>
    <!-- graduation -->
  <section class="panel spotlight medium right" id="first">
    <div class="content span-7">
      <h2 class="major"></h2>
      <p>The semester is rapidly drawing to a close, and I can't wait to graduate. I'm glad I could share my semester with you this way (special thanks to my CS-1100 class for making this a fun assignment). Thank you for being a special part of my journey at Tech!</p>
    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="assets\images\semester\graduation.jpg" alt="" />
    </div>
  </section>
